<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zmaj.nmr">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_andruino"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_andruino_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            android:configChanges="orientation"
            android:screenOrientation="portrait"
        </activity>
        <activity
            android:name=".StareAktivnosti.Activity2"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StareAktivnosti.Activity3"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StareAktivnosti.Activity4"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:configChanges="orientation"
                    android:screenOrientation="portrait" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StareAktivnosti.Activity5" />
        <activity
            android:name=".DrawerMain"
            android:configChanges="orientation"
            android:label="@string/title_activity_drawer_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Drawer2DnevnaSoba"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_drawer2_dnevna_soba"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".slika_test"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Drawer3RadnaSoba"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
                        android:label="@string/title_activity_drawer_radna_soba"
                      android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Drawer1Interfon"
            android:label="@string/title_activity_drawer1_interfon"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Podesavanja" />
        <activity android:name=".Info" />
        <activity android:name=".DrugiUredjaji.DrugiUredjaji" />
        <activity android:name=".DrugiUredjaji.Udaljen" />
        <activity android:name=".DrugiUredjaji.Lokal" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
    </application>

</manifest>